streamlit
fastapi
uvicorn

groq

pymupdf
pdfplumber
pillow

paddleocr
paddlepaddle

sentence-transformers

qdrant-client

python-dotenv

pydantic

numpy
pandas

opencv-python

python-multipart

tqdm

loguru